@page "/products/delete/{productId}"

@using MintStores.Core.Model
@using MintStores.Core
@inject IBaseService<Product> _baseProductService
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<h3>Delete Product</h3>

@if (product != null)
{
    <p>Are you sure you want to delete the product "@product.ProductName"?</p>
    <button type="button" class="btn btn-danger" @onclick="ConfirmDeleteProduct">Delete</button>
}
else
{
    <p>Product not found.</p>
}

<button @onclick="NavigateToProductList">Back to Product List</button>

@code {
    private Product product;
    private int productId;

    protected override void OnInitialized()
    {
        // Отримання productId з URL
        productId = int.Parse(NavigationManager.ToAbsoluteUri(NavigationManager.Uri).Segments.Last());

        // Отримання продукта за його ідентифікатором
        product = _baseProductService.GetItemById(productId);
    }

    private void ConfirmDeleteProduct()
    {
        // Видалення продукта
        _baseProductService.DeleteItem(productId);

        // Перенаправлення на сторінку списку продуктів після видалення
        NavigateToProductList();
    }

    private void NavigateToProductList()
    {
        NavigationManager.NavigateTo("/products");
    }
}
