@page "/fetchdata"
@using MintStores.Core.Model
@using MintStores.Data
@using MintStores.Core


@inject IBaseService<Customer> Base

<PageTitle>Weather forecast</PageTitle>

<h1>Customer</h1>

<p>Customer table</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Sure name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.CustomerId</td>
                    <td>@forecast.FirstName</td>
                    <td>@forecast.LastName</td>
                    <td>@forecast.Email</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Customer> forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = Base.GetAllItems();
    }
}
