@page "/dbtest"
@using MintStores.Interfaces
@using MintStores.Interfaces.Services
@using MintStores.Models
@using MintStores.Services


@inject IBaseService<Customer> DataService
@inject IProductService ProductService
<PageTitle>My Data</PageTitle>
<h3>My Data</h3>

@if (data != null)
{
    <ul>
        @foreach (var item in data)
        {
            <li>@item.ProductId - @item.ProductName @item.ModelYear --- @item.Price</li>
        }
    </ul>
}
else
{
    <p>No data available.</p>
}

@code {
    private IEnumerable<Product> data;

    protected override async Task OnInitializedAsync()
    {

        data =  ProductService.GetProductsByCategory(3);
        
    }
}
